.slider {
    filter: brightness(60%);
}

.slider-position {
    bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption {

    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
}

@media screen and (min-width:576px) and (max-width:766px) {
    .pw {
        width: 530px;
        height: 300px;
    }
}